<div class="row">
    <div class="col-sm-8">
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Length (km)</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let track of tracks" class="{{track.color}}">
                <td>{{track.name}}</td>
                <td>{{track.length_km}}</td>
                <td>{{track.rating}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-sm-4">
        <form>
            <div class="form-group">
                <label>Sort by:</label>
                <select class="custom-select mb-3" name="sort" [(ngModel)]="sort" (change)="changeValue(sort)">
                    <option *ngFor="let param of params" [value]="param.value"> {{param.title}} </option>
                  </select>
            </div>
        </form>
    </div>
</div>